SchemaDocBudg/Class_Budget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:xad="http://uri.etsi.org/01903/v1.1.1#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.minefi.gouv.fr/cp/demat/docbudgetaire" targetNamespace="http://www.minefi.gouv.fr/cp/demat/docbudgetaire" elementFormDefault="qualified" xmlns:z="odm:enrichissement">
	<!--
		Cet include ne contient rien de suspcieux au regard de l'article L311-6 du CRPA
		<xs:include schemaLocation="Class_LigneBudget.xsd"/>

		Cet include contient un cas suspicieux : l'élément NomPJ du type complexe TPJReference
		<xs:include schemaLocation="Class_PJReference.xsd"/>

		Cet include ne contient rien de suspcieux au regard de l'article L311-6 du CRPA
		<xs:include schemaLocation="CommunBudget.xsd"/>

		Dans cet include, il n'y a que des types enumérés ou non-utilisés
		<xs:include schemaLocation="CommunAnnexe.xsd"/>

		Dans cet include, il n'y a que des types génériques pas problématiques en eux-même
		<xs:include schemaLocation="Simple_Type.xsd"/>

		Ptet supprimer tous les Champ_Editeur

		Voir le détail dans : 
		<xs:include schemaLocation="Class_Annexes.xsd"/>

	-->

	
	<xs:complexType name="TBudget">
		<xs:sequence>
			<xs:element name="EnTeteBudget" type="TEnTeteBudget"/>
			<xs:element name="BlocBudget" type="TBlocBudget"/>
			<xs:element name="InformationsGenerales" type="TInformationsGenerales">
				<xs:annotation>
					<xs:documentation>Informations statistiques, fiscales et financières</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LigneBudget" type="TLigneBudget" maxOccurs="unbounded"/>
			<xs:element name="Annexes" type="TAnnexes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEnTeteBudget">
		<xs:sequence>
			<xs:element name="LibelleEtab" type="Base_Texte100">
				<xs:annotation>
					<xs:documentation>Libellé du Budget Collectivité</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdEtab" type="Base_Siret" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifiant de l'établissement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecifBudget" type="TSpecifBudget" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Permet de présenter des spécificités budgétaires liées aux EPCI, ASA, AFR, ...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodColl" type="Base_Alphanum3">
				<xs:annotation>
					<xs:documentation>Code collectivité. : identification de la collectivité ou du budget collectivité</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodInseeColl" type="Base_CogInsee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code INSEE de la collectivité (pour la page de garde).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodBud" type="Base_Alphanum2">
				<xs:annotation>
					<xs:documentation>Code budget. S'il s'agit du budget principal ou si le code collectivité sert déjà à identifier le budget collectivité, cette rubrique est mise à 00.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nomenclature" type="TNomenclature">
				<xs:annotation>
					<xs:documentation>Définition de la nomenclature de la collectivité.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TBlocBudget">
		<xs:sequence>
			<xs:element name="Affect" type="Base_Texte10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(PES) Critère d'affectation : Zone libre permettant  à l’ordonnateur de déterminer l’affectation du dossier dans les services du comptable. Les critères d'affectation résultent d’une convention entre l'ordonnateur et le comptable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatDec" type="TNatDec">
				<xs:annotation>
					<xs:documentation>Nature de la décision.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDec" type="Base_Num10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N° de la décision (Obligatoire dans le cas d'une DM, non renseigné sinon)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Exer" type="Base_Annee">
				<xs:annotation>
					<xs:documentation>Millésime de l'exercice budgétaire concerné</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjetBudget" type="Base_Booleen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<z:libelle>Indique s'il s'agit d'un projet de budget (BP)</z:libelle>
						<z:description><![CDATA[<html>Ce champ contient true s'il s'agit d'un projet (non voté), sinon false (par défaut).<br/>
Pour les totaux, dans le cas d'un projet de budget, le champ MtPropNouv sera pris à la place du champ MtPrev.</html>]]></z:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<!-- Cet élément est peut-être suspicieux -->
			<xs:element name="PJRef" type="TPJReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Référence à une pièce justificative</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="DteDec" type="Base_Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(PES) Date de la décision</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DteDecEx" type="Base_Date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>(PES) Date du caractère exécutoire de la décision</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatVote" type="TNatVote" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nature de la vote du budget pour indiquer si le vote est au niveau du chapitre ou de l'article pour la section de fonctionnement ; si le vote est au niveau du chapitre ou de l'article pour la section d'investissement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpeEquip" type="Base_Booleen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prise en compte des opérations d'équipement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoteFormelChap" type="Base_Booleen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vote formel sur chacun des chapitres d'équipement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypProv" type="TTypProv" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type de provisions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefProv" type="Base_Texte50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence délibéré relatif aux provisions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgPrec" type="TBudgPrec">
				<xs:annotation>
					<xs:documentation>Budget précédent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReprRes" type="TReprRes">
				<xs:annotation>
					<xs:documentation>
						<z:libelle>Budget avec ou sans reprise des résultats N-1</z:libelle>
						<z:description><![CDATA[<html>1 : sans reprise des résultats de l'exercice N-1 <br/>
							2 : avec reprise anticipée des résultats de l'exercice N-1<br/>
							3 : avec reprise des résultats de l'exercice N-1 après le vote du compte administratif N-1</html>]]></z:description>
					</xs:documentation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatFonc" type="TNatFonc">
				<xs:annotation>
					<xs:documentation>Indication si le budget est voté par nature 1, fonction 2 ou mixte 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresentationSimplifiee" type="Base_Booleen" minOccurs="0">
				<xs:annotation>
					<xs:documentation>La collectivité opte explicitement pour une maquette simplifiée (0 par défaut)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepFoncN2" type="Base_Montant" minOccurs="0">
				<xs:annotation>
					<xs:documentation>002 Résultat reporté N-2 en dépense</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecFoncN2" type="Base_Montant" minOccurs="0">
				<xs:annotation>
					<xs:documentation>002 Résultat reporté N-2 en recette</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepInvN2" type="Base_Montant" minOccurs="0">
				<xs:annotation>
					<xs:documentation>001 Solde d'investissement N-2 en dépense</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecInvN2" type="Base_Montant" minOccurs="0">
				<xs:annotation>
					<xs:documentation>001 Solde d'investissement N-2 en recette</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodTypBud" type="ATCodTypBud">
				<xs:annotation>
					<xs:documentation>Type budget : Principal ou Annexe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdEtabPal" type="Base_Num14" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<z:libelle>Identifiant de l'établissement principal (si le budget concerné est un budget annexe)</z:libelle>
						<z:description>Il s'agit du numéro SIRET (obligatoire).</z:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LibelleEtabPal" type="Base_Texte100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<z:libelle>Libellé du budget principal (si le budget concerné est un budget annexe)</z:libelle>
						<z:description><![CDATA[<html>Par exemple : Ce champ contient "Budget communal" et le champ LibelleEtab contient "Budget CCAS"<br/>
							ou alors ce champ contient "Budget départemental" et le champ LibelleEtab contient "Budget Syndicat mixte"</html>]]>
						</z:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TInformationsGenerales">
		<xs:sequence>
			<xs:element name="Information" type="TInformationGenerale" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
